body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("bg.png");
    background-size: cover;
}

hr {
    width: 500px;
}

h1 {
    color: white;
}

#board {
    width: 400px;
    height: 400px;
    display: flex;
    background-color: #9ac2e6;
    border: 6px solid #3144a5;
    margin: 0 auto;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
}

#restart_button {
    background-color: #3048a1;
    color: white;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

#restart_button:hover {
    background-color: #e15434;
    border: none;
}

.big_button {
    background-size: 400px 400px;
    position: absolute;
    border: none;
    height: 400px;
    width: 400px;
    font-size: 25px;
    font-size-adjust: inherit;
    color: white;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.4;
}

#cheat_button { 
    background-image: url("cry.png");
}

#cheat_button:hover{
    border: none;
    opacity: 1;
}

#win_button {
    background-image: url("win.JPG");
    justify-content: flex-start;
    font-size: 24px;
    color: #3c0a41;
}

#win_button:hover{
    border: none;
    opacity: 1;
}


.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #3144a5;

    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    align-items:flex-end;
}

.tile .text {
    padding: 10px;

}

/* colored tiles */

.class_2 {
    background-image: url("i2.png");
    background-size: 90px 90px;
    color: #ffffff;
}

.class_4 {
    background-image: url("i4.png");
    background-size: 90px 90px;
    color: #ffffff;
}

.class_8 {
    background-image: url("i8.png");
    background-size: 90px 90px;
    color: white;
}

.class_16{
    background-image: url("i16.jpg");
    background-size: 90px 90px;
    color: #fcfcfc;
}

.class_32{
    background-image: url("i32.png");
    background-size: 90px 90px;
    color: rgb(255, 255, 255);
}

.class_64{
    background-image: url("i64.png");
    background-size: 90px 90px;    
    color: white;
}

.class_128{
    background-image: url("i128.jpg");
    background-size: 90px 90px;
    color: white;
}

.class_256{
    background-image: url("i256.png");
    background-size: 90px 90px;
    color: rgb(255, 255, 255);

}

.class_512{
    background-image: url("i512.jpg");
    background-size: 90px 90px;
    color: rgb(240, 157, 80);
}

.class_1024{
    background-image: url("i1024.png");
    background-size: 90px 90px;
    color: rgb(247, 143, 47);
}

.class_2048{
    background-image: url("i2048.jpg");
    background-size: 90px 90px;
    color: rgb(244, 120, 4);
}

